<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.reserve.mapper.CategoryMapper">
	<select id="selectCategory" resultType="com.naver.reserve.dto.response.Category">
		SELECT
			a.id,
			a.name,
			count(*) as count
		FROM category a
			INNER JOIN product b
				ON a.id = b.category_id
			RIGHT OUTER JOIN display_info c
				ON b.id = c.product_id
		GROUP BY a.id
	</select>
</mapper>
