<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.reserve.dao.mapper.DisplayInfoMapper">
    <select id="selectDisplayInfo" resultType="com.naver.reserve.dto.response.DisplayInfo">
        SELECT
            a.product_id,
            b.category_id,
            a.id AS displayInfoId,
            c.name AS categoryName,
            b.description AS productDescription,
            b.content AS productContent,
            b.event AS productEvent,
            a.opening_hours,
            a.place_name,
            a.place_lot,
            a.place_street,
            a.tel AS telephone,
            a.homepage,
            a.email,
            a.create_date,
            a.modify_date
        FROM display_info a
            INNER JOIN product b
                ON a.product_id = b.id
            INNER JOIN category c
                ON b.category_id = c.id
        WHERE a.id = #{displayInfoId}
    </select>
</mapper>
