<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.reserve.mapper.ProductImageMapper">
    <select id="selectProductImages" resultType="com.naver.reserve.dto.response.ProductImage">
        SELECT
            b.product_id,
            b.id AS productImageId,
            b.type,
            b.file_id AS fileInfoId,
            c.file_name,
            c.save_file_name,
            c.content_type,
            c.delete_flag,
            c.create_date,
            c.modify_date
        FROM product a
            INNER JOIN product_image b
                ON a.id = b.product_id
            INNER JOIN file_info c
                ON b.file_id = c.id
        WHERE b.type IN ("ma", "et") AND a.id = #{productId}
        ORDER BY b.type DESC
    </select>
</mapper>
