<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.reserve.mapper.ProductPriceMapper">
    <select id="selectProductPrice" resultType="com.naver.reserve.dto.response.ProductPrice">
        SELECT
            id AS productPriceId,
            product_id,
            CASE
                WHEN price_type_name = 'A'
                THEN '성인'
                WHEN price_type_name = 'B'
                THEN '유아'
                WHEN price_type_name = 'D'
                THEN '장애인'
                WHEN price_type_name = 'E'
                THEN '얼리버드'
                WHEN price_type_name = 'R'
                THEN 'R석'
                WHEN price_type_name = 'S'
                THEN 'S석'
                WHEN price_type_name = 'V'
                THEN 'VIP'
                WHEN price_type_name = 'Y'
                THEN '청소년'
                END AS price_type_name,
            price,
            discount_rate,
            create_date,
            modify_date
        FROM product_price
        WHERE product_id = #{productId}
    </select>
</mapper>
