<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.reserve.dao.mapper.PromotionMapper">
    <select id="selectPromotion" resultType="com.naver.reserve.dto.response.Promotion">
        SELECT a.id, a.product_id, d.save_file_name AS productImageUrl
        FROM promotion AS a
            INNER JOIN product AS b
                ON a.product_id = b.id
            INNER JOIN product_image AS c
                ON b.id = c.product_id
            INNER JOIN file_info AS d
                ON c.file_id = d.id
        WHERE c.type = 'th'
    </select>
</mapper>
